body, textarea {
    font-size: 12pt;
    font-family: "Courier", monospace;
}

#title {
    font-size: 14pt;
    padding-bottom: 40px;
}

#conversion_table {
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

#conversion_table td {
    height: 48px;
    vertical-align: top;
}

#conversion_table td:first-child {
    font-weight: bold;
    width: 1px;
    text-align: left;
    padding-right: 8px;
}

textarea {
    outline: none;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    resize: none;
    overflow: hidden;
    text-align: right;
}

#conversion_table tr {
    border-bottom: 1px solid #c0c0c0;
}

#conversion_table tr:last-child {
    border: none;
}

#github_link {
    display: block;
    padding-top: 40px;
    font-size: 9pt;
}
